* {
 text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);;
}

h4 {
    color: black;
    
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: #f1f1f1;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}


.map {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    top: 30px;
}
    
   
     
      .map {
        height: 400px;
        width: 100%;
      }
     html, body {
      height: 100%;
      margin: 0;
      
      
      }

  
.map {
    
}

.mapcontent {
    position: relative;
    height: 550px;
    top: 60px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}




/* dropdown menu */

.nav ul {
    position: relative;
   
}
.nav ul li {
    display: inline-block;
}

.nav ul li a, visited {
 
    display: block;
}
.nav ul li:hover ul {
    display: block;
}
.nav ul ul {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}

/* dropdown menu */




















.half {
    height: 500px;
}
