 html, body, #map {
        
         height: 100%;
      }
      #map {
      padding-top: 6px;
          
          
      }
      .legend {
        position: absolute;
        z-index: 1;
        left: 15px;
        bottom: 10px;
        opacity: 0.6;
    }
    .popover {
      max-width: 440px;
    }
    .popover-title {
      float: right;
      background: none;
      border: 0;
      cursor: pointer;
    }
    .popover-content iframe {
      width: 400px;
      height: 120px;
      border: 0;
    }
        #checkbox1 {
            
            color: white;

        }
        
        .navbar-brand {
            
            padding-top: 20px;
        }

        .col-md-4 {
            
            padding-top: 10px;
        }
