 html, body, #map {
        
         height: 100%;
         font-family: 'helvetica', 'arial', sans-serif;    

      }
      #map {
      padding-top: 20px;
          
          
      }
      .legend {
        position: absolute;
        z-index: 1;
        left: 20px;
        bottom: 220px;
        opacity: 0.6;
          position: absolute;
    }
    .popover {
      max-width: 440px;
    }
    .popover-title {
      float: right;
      background: none;
      border: 0;
      cursor: pointer;
    }
    .popover-content iframe {
      width: 400px;
      height: 120px;
      border: 0;
    }
        #checkbox1 {
            
            color: white;

        }
        
        .navbar-brand {
            
            padding-top: 15px;
        }

        .col-md-4 {
            
            padding-top: 10px;
        }



#content1 {
    border-top: solid 1px; 
    
}




.content2 h4{
    font-size: 12px;
    font-weight: bold;
  
}

.content2 {
    border-left: solid 1px;
    padding-left: 10px;
}

.maptext {
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
}



.navbar {
      
            margin-bottom: 0px;
            padding-top: 80px;
            position: relative;
            z-index: 1;
            width: 100%;
 
}
}

#geolocation {
    padding-left: 50px;
    position: relative;
}

.geoloc {
    padding-top: 10px;
    padding-left: 20px;
}

.marker {
   width: 20%;
}

