* {
 text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);;
}

html, body {
    height: 100%;
    font-family: 'helvetica', 'arial', sans-serif; 

}

h4 {
    color: black;
    
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: #f1f1f1;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}


.neighborhood-guides {
    background-color: none;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 70px;
}
    
.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    
    } 
    
.neighborhood-guides img {
    
    height:200px;
    width:200px;
    
    }

img {
    
    height: auto;
    width: auto;
}

.container h4 {
    
    
    text-align:center;
}

.neighborhood-guides a {
    
    text-align: center;
}


/* dropdown menu */

.nav ul {
    position: relative;
   
}
.nav ul li {
    display: inline-block;
}

.nav ul li a, visited {
 
    display: block;
}
.nav ul li:hover ul {
    display: block;
}
.nav ul ul {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}

/* dropdown menu */

.row {
    
    text-align: center;
}






.gruppentext {
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
}
